@font-face
{
    font-family: "Roboto", sans-serif;
    src: url(https://fonts.google.com/specimen/Roboto?category=Sans+Serif);
}

:root
{
    --clr-text: #2fa8a6;
    --clr-primary: #4b4b4b;
    --clr-link: #c4862d;
    --clr-hover: #f0a236;
    --clr-othertext: #00488370;

    --ff-title: "Roboto", sans-serif;
}

*,
*::before
*::after
{
    box-sizing: inherit;
}




html
{
    box-sizing: border-box;
    font-family: var(--ff-title);
    color: var(--clr-text);
    background-color: #4b4b4b;
}

a
{
    color: var(--clr-link);
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    font-size: 25px;
    text-decoration: none;
}

img
{
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

h1, h2, h3, p
{
    font-family: var(--ff-title);
    line-height: 1;
    text-align: center;
}
.about-text
{
    color: var(--clr-link);
    text-align: center;
}
.sub-header
{
    text-align: center;
    color: var(--clr-text);
}